<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="/">
                <img src="/images/{{ site.inc.logo }}" alt="ChatSecure Logo">
            </a>
            <a href="/blog" class="home">Posts</a>
			<a href="https://github.com/MatInfTeam4/MatInfTeam4.github.io/milestones">Progress</a>
            <a href="/teammembers">Team Members</a>
            <a href="/extratab">Extra Tab</a>
        </nav>
        <nav class="tagline">
            {% if site.inc.tagline %}<span>{{ site.inc.tagline }}</span>{% endif %}
            <a href="https://github.com/MatInfTeam4" class="btn btn-outline">Go To GitHub</a>
        </nav>
    </header>
</section>